<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Anti Shop!</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">

</head>
<div class="home-page-header">Welcome to the worst i-shop :)</div>
    <body>
        <div th:each="pt : ${productTypes}" class="mainProducts">
            <div th:text="${pt.productType}" class="type"></div>
        </div>
        <div><a href="/new-product-type">Add product type</a> </div>
        <div><a href="/new-product">Add product</a> </div>
    </body>
</html>