<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Product</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="new-product">
        <form th:action="@{/new-product}" method="POST" th:object="${newProduct}">
            <div><input type="text" placeholder="Label" th:field="*{productLabel}" class="text-input"></div>
            <div><input type="text" placeholder="Color" th:field="*{color}" class="text-input"></div>
            <div><input type="text" placeholder="Description" th:field="*{productDescription}" class="description-input"></div>
            <div><input type="submit" value="Add" class="button"></div>
        </form>
    </div>
</body>
</html>